body{
    margin:0px;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-family: 'Big Shoulders Display', cursive;
}






.card p{
    line-height: 24px;
    color:hsla(0, 0%, 100%, 0.75);
    letter-spacing: 0.9px;
    word-spacing: 3px;

}

button, h3, body{
    color:hsl(0, 0%, 95%);
    font-weight: 700;
}

#one button{
    color:hsl(31, 77%, 52%);
}

#two button{
    color:hsl(184, 100%, 22%);
}

#three button{
    color:hsl(179, 100%, 13%) ;
}


button:hover{
    background:none;
    cursor:pointer;
}

#one button:hover{
    background:none;
    color:hsl(0, 0%, 95%);
}

#two button:hover{
    background:none;
    color:hsl(0, 0%, 95%);
}

#three button:hover{
    background:none;
    color:hsl(0, 0%, 95%) ;
}

h3{
    font-size:30px;
}

button{
    margin-top:70px;
    padding: 10px 15px;
    border-radius:15px;
    border:solid 2px hsl(0, 0%, 95%);
}

#one{
    background-color: hsl(31, 77%, 52%);
}

#two{
    background-color: hsl(184, 100%, 22%);
}

#three{
    background-color:hsl(179, 100%, 13%) ;
}



@media (min-width: 376px)
{

.container{
    display:flex;
    align-items:center;
    margin:0% 25%;
}

body{
    display:flex;
    align-content:center;
    justify-content: center;
    height:100vh;
}
.container .card{
    width:1fr;
    padding:4.5%;
    flex:1 1;
    padding-bottom:40px;
}

#one{
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
}

#three{
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
}


}



@media (max-width: 375px)
{
    body{
        margin:0px;
    }

    .card{
        display:block;
        padding:6%;
        border-radius:0px;
    }

    button{
        margin-bottom:20px;
        margin-top:10px;
    }



}